body {
    height: auto;
}

.container {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: rgb(247, 243, 243);
    height: 50px;
    justify-content: space-around;
    padding: 10px 10px;
}

.nav-bar .heading-name {
    font-size: 40px;
    margin-right: 380px;
}

.nav li {
    margin-right: 20px;
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 15px;
}

.nav li a:hover {
    background-color: gray;
    transition: 2s;
}


/* :start */

.slider {
    width: 1263px;
    height: 700px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 700px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
    background-image: linear-gradient( to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: relative;
}

.div {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    top: 40%;
    width: 100%;
}

.slides img {
    width: 1300px;
    mix-blend-mode: overlay;
}


/* css for manual navigation */

.navigation-manual {
    position: absolute;
    margin-top: -40px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.manual-btn {
    border: 2px solid green;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background-color: grey;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}


/*  end css for manual navigation */


/* css for auto-matic */

.navigation-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 660px;
}

.navigation-auto div {
    border: solid 2px green;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 30px;
}


/* end css for auto-matic */

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: grey;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: grey;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: grey;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: grey;
}


/* end */

.about-us-image .about-us-text {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
}

.about-us-image .about-us-text h2 {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.animate {
    animation-name: textmoveright;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.what-we-do {
    text-align: center;
    margin: 70px auto;
    width: 50%;
}

.what-we-do h2 {
    color: black;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
}

.what-we-do p {
    color: rgb(129, 126, 126);
    line-height: 30px;
}

.what-we-do .contact-btn {
    color: black;
    margin: 50px 0px;
    background-color: white;
    border: solid 1px black;
    text-transform: uppercase;
    padding: 20px 50px;
    border-radius: 25px;
}

.what-we-do .contact-btn:hover {
    background-color: black;
    color: white;
    transition: 1s;
    cursor: pointer;
}

.grid-image {
    text-align: center;
    display: grid;
    padding: 0px 300px;
    height: 550px;
    margin-bottom: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    overflow: hidden;
}

.grid-image img {
    width: 100%;
    height: 100%;
}

.grid-image .child-2 {
    grid-row: 2/3;
}

.grid-image .child-3 {
    grid-row: 1/3;
}

.grid-image .child-4 {
    grid-row: 1/2;
}

.grid-image .child-5 {
    grid-row: 2/3;
}

.grid-image img {
    overflow: hidden;
}

.grid-image img:hover {
    transform: scale(110%);
    transition: 1s;
}

.meet-team {
    display: flex;
    margin: 100px auto;
    text-align: center;
    justify-content: space-between;
}

.footer {
    height: 300px;
    background-color: #333333;
    padding-top: 100px;
    color: aliceblue;
}

footer h1 {
    text-align: center;
    margin-bottom: 40px;
}

.footer-names {
    display: flex;
    justify-content: space-around;
}

.footer-names .names {
    display: flex;
}

.footer-names .names li {
    margin-top: 20px;
    margin-right: 25px;
    list-style-type: none;
}

.footer-names .names li:hover {
    transform: rotate(5deg) scale(1.2);
    box-shadow: 2px 5px 5px black;
    transition: 0.25s;
    cursor: pointer;
    color: gray;
}

.copy {
    margin-top: 60px;
    text-align: center;
}

@keyframes textmoveleft {
    0% {
        opacity: 0;
        transform: translateX(-11rem);
    }
    80% {
        transform: translateX(2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes textmoveright {
    0% {
        opacity: 0;
        transform: translateX(11rem);
    }
    80% {
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}